Django==1.5.8
django-annoying==0.8.6
mysqlclient==1.4.6
python-dateutil==2.8.1
south==1.0.2
Pillow==6.2.2
django-bootstrap-toolkit==2.15.0
gunicorn==19.10.0

#django_extensions
#Werkzeug
#django-debug_toolbar
