{% extends "base.html" %}

{% load static %}

{% load bootstrap_toolkit %}

{% block head %}
<script src="{% static 'bower/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'bower/jquery-validation/src/localization/messages_ru.js' %}"></script>

<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/edit_ticket.js' %}"></script>
{% endblock %}

{% block content %}
<a href="/">Назад</a>
<br><br>
{% if message %}
    <script>var message = $.parseJSON('{{ message|safe }}');</script>
{% else %}
    <script>var message = false;</script>
{% endif %}
<script>
    var no_connection_team_ids = $.parseJSON('{{ no_connection_team_ids|safe }}');
</script>
<form enctype="multipart/form-data" action="" method="POST" id="ticket" class="form-horizontal">
    {% csrf_token %}
    {% if ticket %}
        Добавлена: {{ ticket.user_created }} ({{ ticket.date_created }})<br>
        Изменена: {{ ticket.user_modified }} ({{ ticket.date_modified }})<br>
    {% endif %}
    {{ form|as_bootstrap }}
    <p>
        <div class="control-group">
            <div class="controls">
                <input type="button" value="{{ submit_name }}" class="btn btn-primary" onclick="submitTicket()">
                {% if perms.tickets.can_change_ticket_status and ticket.status %}
                    <input class="btn btn-success" type="button" value="Закрыть заявку" onclick="closeTicket()">
                    <input class="btn btn-danger" type="button" value="Отменить заявку" onclick="cancelTicket()">
                {% endif %}
            </div>
        </div>
    </p>
</form>

{% for record in change_log %}
    {{ record.date }} - {{ record.user }} - {{ record.action }}<br>
{% endfor %}
{% endblock %}
