{% extends "base.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'bower/DataTables/media/css/jquery.dataTables.css' %}" rel="stylesheet" />
    <script src="{% static 'bower/DataTables/media/js/jquery.dataTables.js' %}"></script>
{% endblock %}

{% block content %}
<script>
    var url_ajax_get_ticket_list = "{% url 'tickets.views.ajax_get_ticket_list' %}";
    var url_ajax_apply_filter = "{% url 'tickets.views.ajax_apply_filter' %}";
    var url_create_report = "{% url 'tickets.views.create_report' %}";
</script>
<script src="{% static 'js/index.js' %}"></script>

<a href="{% url 'tickets.views.add_ticket' %}">Добавить заявку</a> |
<a href="javascript:createReport()">Сформировать отчет</a> |
<a href="{% url 'tickets.views.calendar' %}">Календарь</a>
<br><br>

<div class="filter_element">
    <label for="status">Статус:</label>
    <select class="filter" name="status" >
        <option value=""></option>
        <option value="1" {% ifequal filter.status 1 %}selected="selected"{% endifequal %}>Открытые</option>
        <option value="0" {% ifequal filter.status 0 %}selected="selected"{% endifequal %}>Закрытые</option>
        <option value="2" {% ifequal filter.status 2 %}selected="selected"{% endifequal %}>Отмененные</option>
    </select>
</div>
<div class="filter_element">
    <label for="type">Тип заявки:</label>
    <select class="filter" name="type" >
        <option value=""></option>
        {% for type in filter_data.types %}
            <option value="{{ type.id }}" {% ifequal filter.type type.id %}selected="selected"{% endifequal %}>{{ type.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="filter_element">
    <label for="team">Бригада:</label>
    <select class="filter" name="team" id="team" >
        <option value=""></option>
        {% for team in filter_data.teams %}
            <option value="{{ team.id }}" {% ifequal filter.team team.id %}selected="selected"{% endifequal %}>{{ team.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="filter_element">
    <label for="date_from">Дата от:</label>
    <input class="filter" id="date_from" type="text" name="date_from" {% if filter.date_range %}value="{{ filter.date_range.from }}"{% endif %}>
</div>
<div class="filter_element">
    <label for="date_to">Дата до:</label>
    <input class="filter" id="date_to" type="text" name="date_to" {% if filter.date_range %}value="{{ filter.date_range.to }}"{% endif %}>
</div>
<div class="filter_element">
    <label for="date_assigned">Дата:</label>
    <input class="filter" id="date" type="text" name="date_assigned" {% if filter.date_assigned %}value="{{ filter.date_assigned }}"{% endif %}>
</div>
<div class="filter_element">
    <label for="reason">Причина:</label>
    <select class="filter" name="reason" id="reason" >
        <option value=""></option>
        {% for reason in filter_data.reasons %}
            <option value="{{ reason.id }}" {% ifequal filter.reason reason.id %}selected="selected"{% endifequal %}>{{ reason.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="filter_element">
    <label for="address">Адрес:</label>
    <input class="filter" id="address" type="text" name="address" {% if filter.address %}value="{{ filter.address }}"{% endif %}>
</div>
<div class="filter_element">
    <input type="button" class="btn reset-button" onclick="resetFilters()" value="Сбросить" />
</div>
<div id="results" class="results"></div>

{% endblock %}
