{% extends "base.html" %}

{% block additional_actions %}
<a href="javascript:window.print()">Print</a>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/print.css" media="print" />

{% for ticket in tickets %}
<div class="report">
<img src="/static/img/logo.gif" class="logo">
<div class="clear"></div>
{% include "report_header.html" %}

<h3 class="center">
    Task №{{ ticket.id }} - {{ ticket.date_assigned }}
</h3>

<p><strong>Description:</strong> {{ ticket.description }}</p>
<p><strong>Ticket opened by:</strong> {{ ticket.user_created.get_full_name }}</p>

<table class="table">
    <tr>
        <td width="100">Contract number</td>
        <td>{% if ticket.account %} {{ ticket.account }} {% endif %}</td>
    </tr>
    <tr>
        <td>Subscriber's name</td>
        <td>{% if ticket.name %} {{ ticket.name }} {% endif %}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ ticket.address }}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ ticket.phone }}</td>
    </tr>
    <tr>
        <td>Technical data</td>
        <td>{{ ticket.technical_data }}</td>
    </tr>
</table>

<h3 class="center">
    Tasks
</h3>

<table class="table center">
<tr>
    <th width="30">
        №
    </th>
    <th>
        Name
    </th>
    <th>
        Price, $
    </th>
</tr>
<tr>
    <td>1</td>
    <td> </td>
    <td> </td>
</tr>
<tr>
    <td>2</td>
    <td> </td>
    <td> </td>
</tr>
<tr>
    <td colspan="2" class="right">Total:</td>
    <td> </td>
</tr>
</table>

<table width="100%">
<tr>
    <td colspan="4">I agree with terms and conditions</td>
</tr>
<tr>
    <td>"____" ___________ {% now "Y" %}</td>
    <td>__________________</td>
    <td>__________________</td>
</tr>
<tr class="signatures">
    <td>(date)</td>
    <td>(Subscriber's name)</td>
    <td>Signature</td>
</tr>
<tr>
    <td colspan="4"></td>
</tr>

<tr>
    <td colspan="4">Task completed by</td>
</tr>
<tr>
    <td>"____" ___________ {% now "Y" %}</td>
    <td class="underline">{{ ticket.team }}</td>
    <td>__________________</td>
</tr>
<tr class="signatures">
    <td>(date)</td>
    <td>(Name)</td>
    <td>Signature</td>
</tr>
</table>
{% if not forloop.last %}
    <div class="page-break"></div>
{% endif %}
{% if ticket.image %} <div class="ticket-image"><img src="/media/{{ ticket.image }}"></div>
    <div class="page-break"></div>
{% endif %}
</div>
{% endfor %}
{% endblock %}